*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
.DS_Store
*/.DS_Store
*/~$*.xlsx
.vs/*
/TalesCraft2.android/.*
/TalesCraft2.android/build/*
/TalesCraft2.android/local.properties
/TalesCraft2.android/keystore.properties
/TalesCraft2.android/*.iml
/TalesCraft2.android/app/.*
/TalesCraft2.android/app/build/*
/TalesCraft2.android/app/*.iml
/TalesCraft2.android/asset_pack/.*
/TalesCraft2.android/asset_pack/build/*
/TalesCraft2.android/asset_pack/*.iml
/TalesCraft2.windows/.vs/*
/TalesCraft2.windows/build/*
/TalesCraft2.windows/intermediate/*
/TalesCraft2.windows/ipch/*
/TalesCraft2.windows/*.ipch
/TalesCraft2.windows/TalesCraft2.VC.db
/TalesCraft2.windows/TalesCraft2.VC.VC.opendb
/TalesCraft2/Supports/bin/bundle/*
/TalesCraft2/Supports/bin/storage/*
/TalesCraft2/Supports/bin/storage_0/*
/TalesCraft2/Supports/bin/storage_1/*
/TalesCraft2/Supports/bin/storage_2/*
/TalesCraft2/Supports/bin/storage_3/*
/TalesCraft2/Supports/bin/.run_*
