<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216029447502-i6g34ga1omjsa36drl2hlsgagd6gio0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216029447502-i6g34ga1omjsa36drl2hlsgagd6gio0q</string>
	<key>API_KEY</key>
	<string>AIzaSyBcQIkVpIhYs0JU79RCh1mr7TQ1SxrWF_A</string>
	<key>GCM_SENDER_ID</key>
	<string>216029447502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vplaygames.clashoflegions.mena</string>
	<key>PROJECT_ID</key>
	<string>acies-mena</string>
	<key>STORAGE_BUCKET</key>
	<string>acies-mena.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:216029447502:ios:5a5f5246c703ddd10f0a1f</string>
</dict>
</plist>
