<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31086742980-ma8oe397gnaudp0ptp5k0r66slm2n6us.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31086742980-ma8oe397gnaudp0ptp5k0r66slm2n6us</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>31086742980-3dj6mbrogdte64g6lsocn8jl80tvjl47.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC6BsaQq2QB0dbFiWh1qCaVh6NRuOrLI9U</string>
	<key>GCM_SENDER_ID</key>
	<string>31086742980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.type1.woc</string>
	<key>PROJECT_ID</key>
	<string>world-of-chaos-38926859</string>
	<key>STORAGE_BUCKET</key>
	<string>world-of-chaos-38926859.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31086742980:ios:d500801935202d083da891</string>
</dict>
</plist>