<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>163848100893-3tqhgkl6qoaad051t4levqknn4vg236o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163848100893-3tqhgkl6qoaad051t4levqknn4vg236o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>163848100893-h68hq2ap4p1uoddc8crm36ifdl992imb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBAFMjsqRqMuU_OGDRQJIaJ4ffFaioF8qs</string>
	<key>GCM_SENDER_ID</key>
	<string>163848100893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hothead.brgames.talesarena</string>
	<key>PROJECT_ID</key>
	<string>tales-arena-th</string>
	<key>STORAGE_BUCKET</key>
	<string>tales-arena-th.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163848100893:ios:d981eb19b7ad8298</string>
	<key>DATABASE_URL</key>
	<string>https://tales-arena-th.firebaseio.com</string>
</dict>
</plist>